# Large Godot engine frameworks - downloaded by GitHub Actions from Godot release
Ahoyoo.xcframework/
MoltenVK.xcframework/
libgodot.visionos.debug.xcframework/
libgodot.visionos.release.xcframework/
